html, body {
  font-family: Calibri, monospace;
  height: 100%;
}

canvas {
  display: block;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

@font-face {
  font-family: 'square-deal';
  src: url('square-deal/square-deal.ttf');
  font-weight: normal;
  font-style: normal;
}

#newfont{
  font-family:'square-deal';
}
